
<html>
<head>
    <title>Whisper me</title>
    <meta charset="utf-8">
    <link src=".../assets/stylesheets/landing.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i" rel="stylesheet"> 
</head>
<body>
    <div class="phrase">
        What are your shower thoughts?
    </div>
</body>
</html>
